RewriteEngine On

# Canonical URL: hide .php extensions in browser URLs.
RewriteCond %{THE_REQUEST} \s/+index\.php(?:[\s?]|$) [NC]
RewriteRule ^index\.php$ / [R=301,L]

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php(?:[\s?]|$) [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]