@import './typographies.css';

:root {
	--type-color: #333;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.2s ease;
    outline: none;
}

html,
body {
    color: #333;
    min-height: 100dvh;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
	overflow-x: hidden;
}

body main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 16px;
}

h1.panel-title {
	font-size: 20px;
	font-weight: 600;
	font-family: 'korataki', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

a {
    color: inherit;
    text-decoration: none;
}

label.label {
    display: block;
    font-weight: 400;
    margin-bottom: 8px;
}

label.label span {
    color: #333;
    display: block;
    font-weight: 600;
	font-size: 16px;
	font-family: 'violet', sans-serif;
	text-transform: uppercase;
}

label.label input,
label.label select,
label.label textarea {
    width: 100%;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    resize: vertical;
}

label.label textarea {
    min-height: 100px;
}
label.label.radio-label {
    position: relative;
    margin-bottom: 0;
}
label.label.radio-label input[type="radio"],
label.label.radio-label input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}
label.label.radio-label input[type="radio"] + .label,
label.label.radio-label input[type="checkbox"] + .label {
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
	font-weight: 200;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label.label.radio-label input[type="radio"]:checked + .label,
label.label.radio-label input[type="checkbox"]:checked + .label {
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
	font-weight: 600;
	border-width: 2px;
}

button,
.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn.btn-fixed-create {
	position: fixed;
	bottom: 20px;
	right: calc((100% - 800px) / 2);
	color: #28a745;
	background-color: #bdf3c9;
	border: 1px solid #28a745;
	box-shadow: 0 0 6px rgba(40, 167, 69, 0.3);
}

.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.tcenter {
	text-align: center;
}

.form-buttons-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 20px;
	gap: 10px;
}
.form-buttons-container.multiple {
	justify-content: space-between;
}
.form-buttons-container .btn.btn-submit {
	min-width: 120px;
	background-color: #cbe2fa;
	color: #fff;
	border: 1px solid #007bff;
	color: #007bff;
	padding: 5px 25px;
	font-weight: 600;
	font-size: 15px;
	border-radius: 50px;
	box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}

.overflowable-table {
	overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
	overflow-x: auto;
}

table th,
table td {
    padding: 8px 12px;
    border: 1px solid #ccc;
	text-align: center;
}

table th {
    background-color: #f0f0f0;
    font-weight: 600;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.badge {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 6px 10px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
}

.type.type-normal {
	background-color: #828282;
	--type-color: #828282;
	color: #fff;
}
.type.type-fire {
	background-color: #e4613e;
	--type-color: #e4613e;
	color: #fff;
}
.type.type-water {
	background-color: #3099e1;
	--type-color: #3099e1;
	color: #fff;
}
.type.type-electric {
	background-color: #dfbc28;
	--type-color: #dfbc28;
	color: #fff;
}
.type.type-grass {
	background-color: #439837;
	--type-color: #439837;
	color: #fff;
}
.type.type-ice {
	background-color: #47c8c8;
	--type-color: #47c8c8;
	color: #fff;
}
.type.type-fighting {
	background-color: #e49021;
	--type-color: #e49021;
	color: #fff;
}
.type.type-poison {
	background-color: #9354cb;
	--type-color: #9354cb;
	color: #fff;
}
.type.type-ground {
	background-color: #a4733c;
	--type-color: #a4733c;
	color: #fff;
}
.type.type-flying {
	background-color: #74aad0;
	--type-color: #74aad0;
	color: #fff;
}
.type.type-psychic {
	background-color: #e96c8c;
	--type-color: #e96c8c;
	color: #fff;
}
.type.type-bug {
	background-color: #9f9f28;
	--type-color: #9f9f28;
	color: #fff;
}
.type.type-rock {
	background-color: #a9a481;
	--type-color: #a9a481;
	color: #fff;
}
.type.type-ghost {
	background-color: #6f4570;
	--type-color: #6f4570;
	color: #fff;
}
.type.type-dragon {
	background-color: #576fbc;
	--type-color: #576fbc;
	color: #fff;
}
.type.type-dark {
	background-color: #4f4747;
	--type-color: #4f4747;
	color: #fff;
}
.type.type-steel {
	background-color: #74b0cb;
	--type-color: #74b0cb;
	color: #fff;
}
.type.type-fairy {
	background-color: #e18ce1;
	--type-color: #e18ce1;
	color: #fff;
}

/* style the scroll bar */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 50px;
}